// Less variables

@base-font-size: 17px;
@vspacing: @base-font-size*2;

@wide-1-breakpoint: 600px;

@monospace-font-stack: ~"'Ubuntu Mono', 'Menlo', monospace";
@body-font-stack: ~"'Vollkorn', 'Baskerville', 'Georgia', serif";
@heading-font-stack: ~"'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif";
@special-font-stack-1: ~"'Ubuntu', 'Helvetica Neue', 'Arial', sans-serif";

@black: #333;
@black-content: #111;
@gray: #666;
@accent: #428bca; // alt: rgba(244,109,44,1);
@link-hover: #2a6496; // alt: rgba(222,90,29,1);
@complementary-accent: #1DA1DE;
@background: #f7f7f7;
@compensated-black: #555;
@compensated-gray: #999;
@compensated-black-hover: #111;
@compensated-gray-hover: #b7b7b7;
@white: #fefefe;
@milk: #fefefe;

@transition-speed-1: .1s;
@transition-speed-2: .25s;
@in-sine: cubic-bezier(0.47, 0, 0.75, 0.72);

@import 'flexbox-prefixes';
@import 'util';
@import 'site';
@import 'markdown';
